*{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
    text-decoration: none;   
}

body{
    font-family: 'Montserrat', sans-serif; 


}

//variables
$brand-color :rgb(41, 112, 124);
$text-color :silver;  


.card {
    margin:50px auto;
    width:356px;
    height:500px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba( black,0.5); 
    text-align: center;
    border-radius: 10.5px;
    transition: transform ease 1s;
    &:hover {
      transform: scale(1.03);

        .card-info{
            .card-btn{
                background-color:black;
            }
        }
    }

    .class-img{
        position: relative;
        img{
            width:355px;
            height: 200px;;
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

     .img-tags{
   
         list-style: none;
         margin:0;
         padding: 0;
         display: flex;
         position: absolute;
         bottom:25px;
         left: 30px;
            li{  
        color:$brand-color;
        background-color:white;
        border-radius:30px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        border:1px solid silver;
        padding:5px 14px;
        margin-right: 14px;//space b/w the lists

        }
      }
    }


.card-info{
 padding: 33px 30px 30px;
    
    .card-title{
        font-weight:bold;
        font-size: 25px;
        color:$brand-color;
        margin-bottom:25px;
        line-height: 34px
        }
        p{
            color:$brand-color;
            font-size:16px;
            line-height:19px;
            font-weight: 400;
            margin: 18px 0 24px;

        }
        .card-btn{
            color:$text-color;
            font-weight: 700;
            font-size: 16px;
            background-color: $brand-color;
            line-height: 20px;
            padding: 10px 23px;
            border-radius: 28px;
            display: inline-block;
            transition: background-color ease 0.3s;
        
                }
    }    
}
//card slider
.swiper-container{
    width:1150px;


.swiper-main{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;

    &:after{
    font-size:20px;
    color:white;
    }

}
}